
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <title>Check Refers</title>
  <style>
  
  body{
    margin: 0;
    padding: 0;
  }
    .container{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .sketch-button {
      margin-bottom: 35px;
      left: 60px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  appearance: none;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  background-image: linear-gradient(90deg, #fcecfe, #fbf6e7, #e6fcf5);
  border-radius: 11px;
  padding: 12px 20px;
  position: relative;
  line-height: 24px;
  color: #14387e;
  box-shadow: 0 1px 2px rgba(0 0 0 / 2%), 0 4px 16px rgba(0 0 0 / 2%),
    0 4px 24px rgba(0 0 0 / 2%);

  &.start {
    svg {
      animation: stroke 1s linear;
    }
  
  </style>
</head>
<body>
  <div class="container mx-auto">
    <div class="w-full max-w-xs">
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" >
        <div class="flex items-center justify-between">
          <table class="table-auto" style="width:80%">
            <tbody>
              <tr>
            <td class="border px-4 py-2">Campaign</td>
            <td class="border px-4 py-2">Total Refer</td>
            </tr>
             <tr class="bg-gray-100">
      <td class="border px-4 py-2"><%=offer_name%></td>
      <td class="border px-4 py-2"><%= ref_count%></td>
    </tr>
            </tbody>
          </table>
        </div>
      </div>
       <button class="sketch-button"><a href="https://t.me/earningcamps">Join Telegram Channel</a></button>
    </div>
    
  </div>
 
</body>
</html>