<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Html Page</title>
</head>
<body>
  <p id="1234"></p>
  <script type="text/javascript" charset="utf-8">
    alert(window.location.href)
    document.getElementById('1234').innerHTML = {{ name }}
  </script>
</body>
</html>
