<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  < name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Html Page</title>
</head>
<body>
  <select id="lists">
    <% if(alldata){alldata.forEach((i) =>{%><option><%=i.name%></option><%})}%>
  </select>
</body>
</html>
